@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600&display=swap');
body {

    font-family: "Gothic A1", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    
}
.languageButtons {
    position: absolute;
    left: 80%;
    top: -40px;
}
.languageButtons button {
    background-color: rgb(255, 255, 255);
    border: none;
    width: 75px;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
}

.left {
    background-color: #A5AC9D;
    padding: 15px;
    width: 230px;
}
.right {
    width: 800px;
    padding-bottom: 50px;
    background-color: #FDFAEF;
}
.data {
    background-color: #FDFAEF;
}
.data-left div {
    margin-left: 5px;
    font-size: 14px;
}
.data-left  {
    margin-top: 5px;
    align-items: center;
}
.data-left-data  {
    margin-top: 5px; 
    display: flex;
    margin-left: 5px;
}
.data-left-data div  {
    
}
.header-data-content {
    display: flex;
    
}
.section {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    display: flex;
    width: 100vw;
    min-width: 800px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: fit-content;
}
.header {
    display: flex;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;

}
.name-header {
    background-color: #424A52;
    color: white;
    font-size: 32px;
    padding: 30px 20px;
    letter-spacing: 1.5px;
}
.header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transform: scale(1.4); 
}
.contact {
    font-size: 12px;
    margin-top: 45px;
    color: white;
}
.adres {

}
.contact-spec div {
    padding: 2.5px 0px;
    display: flex;
}
.line {
    width: 130px; 
    border: none; 
    border-top: 3px solid black;
}
.line-bottom {
    height: 5px; 
    background-color: #A5AC9D;
    border-radius: 3px;
    width: 90%;
    margin: auto;
}
.vertical-line {
    width: 10px; 
    height: 250px; 
    background-color: #A5AC9D;
    border-radius: 1px; 
    margin: auto;
}
.zalety {
    width: 100%;
    padding: 30px;
}
.items-text {
    display: flex;
    align-items: center;
}
#hands {
    transform: rotate(45deg);
}
#idea {
    transform: scale(1.2);
}
.abilities {
    display: flex;
    justify-content: space-between;
}
.abilities div:nth-child(2) {
    margin-right: 15px;
}

.vertical-line2 {
  position: relative;
}
.vertical-line2::before {
  content: '';
  position: absolute;
  top: 1px;
  width: 2px;
  transform: translateX(-50%);
  height: 17px; /* Adjust the height of the line */
  background-color: #000; /* Color of the line */
}

.education {
    padding: 15px 30px;
}
.experience {
    display: flex;
    padding: 10px 0px;
}
.experience div:first-child {
    width: 45%;
}
.experience div:nth-child(2) {
    width: 100%;
}
.certyfikaty {
    padding: 10px 30px;
}
.certyfikaty div {
    padding: 5px 0px;
}
.certyfikaty div:first-child {
    padding: 15px 0px;
}
.header-text {
    padding: 20px 0px;
    font-size: 20px;
    width: 100%;
}
.items-text div {
    margin-left: 12px;
}


@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
}